@using Woopin.SGC.Model.Common
@{
    ViewBag.Title = "Liquidadores";
    ViewBag.SectionIcon = "file-text-o";
    ViewBag.SectionTitle = "Listado de Liquidadores";

    var estadoAnulado = (int)EstadoComprobante.Anulada;
    var estadoPagada = (int)EstadoComprobante.Pagada;
    var estadoCreada = (int)EstadoComprobante.Creada;
    var estadoImputado = (int)EstadoComprobante.Imputado;
}
<div class="action-bar row" style="margin-bottom:20px;">
    <div class="col-md-12">
        <label class="col-md-3 horizontal-label text-center">Filtrar por Bolo</label>
        <div class="col-md-6 input-container">
            <div class="row">
                <input type="number" id="BoloID" name="BoloID" class="col-md-2" style="margin-top: 7px;" />
                <div class="col-md-9" style="padding:0;">
                    <input type="hidden" id="Bolo_Id" name="Bolo.Id" class="selectinput" />
                </div>
                <a class="boton boton-i place-right BtnClearSelect2" data-rel="Bolo_Id" data-input="BoloID" title="Limpiar" style="margin:2px 0px;">
                    <i class="fa fa-eraser i-blue"></i>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <a class="boton place-left" id="btnFilterByBolo" style="margin-top: 2px;">Filtrar <i class="fa fa-filter i-blue"></i></a>
        </div>
    </div>
</div>
<div class="action-bar row">
    <a class="boton place-left" id="BtnCreate" title="Crear Comprobane" href="@Url.Action("Nuevo")">
        <i class="fa fa-plus-circle i-green"></i>  Crear Liquidador
    </a>
    <div class="place-right search-box">
        <input type="search" name="TbxSearch" id="TbxSearch" placeholder="Buscar Liquidador..." />
        <button type="submit" class="button-clear hide" title="Limpiar filtro" id="BtnClearSearch"></button>
        <button type="submit" class="button-search" title="Buscar" id="BtnSearch"></button>
    </div>
    <a class="boton boton-i place-right" id="BtnRefresh" title="Actualizar">
        <i class="fa fa-refresh i-blue"></i>
    </a>
    <a class="boton boton-i place-right" id="BtnExportXLS" title="Exportar a Excel">
        <span class="icon-xls"></span>
    </a>
    <select id="FilterType" class="place-right" style="margin-top: 4px;margin-right: 10px;">
        <option value="0">Todos</option>
        <option value="1">Pendientes</option>
        <option value="2">Vencidos</option>
        <option value="3">Anulados</option>
    </select>
    <div class="place-right" style="margin-top:6px;margin-right:20px;">
        Desde
        <input type="text" id="datestart" class="text-center" value="@DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy")" />
        al
        <input type="text" id="dateend" class="text-center" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
    </div>
    @*<div class="place-right" style="margin-top:6px;margin-right:20px;">
        Por Vencer Desde
        <input type="text" id="datestartvenc" class="text-center" value="@DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy")" />
        al
        <input type="text" id="dateendvenc" class="text-center" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
    </div>*@
</div>
<div class="table-container">
    <table id="GridLiquidadores"></table>
    <div id="GridLiquidadores_pager"></div>
</div>
<div id="listadoliquidadores-detalle-dialog" class="detalle-dialog"></div>

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/select2")
    @Styles.Render("~/Scripts/select2/select2.css")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
    $(document).ready(function () {
        ListadoLiquidadores.init();
    });
    var ListadoLiquidadores = {

        init: function () {
            //$('#datestart,#dateend,#datestartvenc,#dateendvenc').datepicker({ dateFormat: 'dd/mm/yy' });
            $('#datestart,#dateend').datepicker({ dateFormat: 'dd/mm/yy' });
            /* Binding del boton de Refresh */
            $('#BtnRefresh').bind('click', function () {
                ListadoLiquidadores.LoadData();
            });

            $('#BtnExportXLS').click(ListadoLiquidadores.ExportToExcel);


            /* Buscador de arriba */
            $.SetupSearchTextbox('#GridLiquidadores', ["Fecha", "Numero"]);

            $('#Bolo_Id').select2(
               {
                   width:'100%',
                   placeholder: "Seleccione Un Bolo",
                   minimumInputLength: 2,
                   ajax: {
                       url: "@Url.Action("GetBolosCombo", "Bolos")",
                       dataType: 'json',
                       params: { type: "POST" },
                       data: function (t, p) {
                           return { where: t };
                       },
                       results: function (data, page) {
                           return { results: data.Data.Items };
                       }
                   }
               });
            $('#Bolo_Id').on("select2-selecting", ListadoLiquidadores.OnBoloSelected);
            $('#btnFilterByBolo').click(ListadoLiquidadores.LoadData);
            $(document).on('click', '.BtnVerDialog', ListadoLiquidadores.VerDetalleDialog);

            $('#BoloID').change(ListadoLiquidadores.OnBoloChange);
            $('.BtnClearSelect2').on('click', function () {
                var IdClear = $(this).attr('data-rel');
                var IdClearInput = $(this).attr('data-input');
                ListadoLiquidadores.ClearSelect2(IdClear, IdClearInput);
            });
            @if (ViewBag.statusType != "")
            {
                @: $('#FilterType option').each(function (ind, elem) {
                                @:if("@ViewBag.statusType" == $(elem).html()){
                                        @:$(elem).attr('selected', 'selected');}});
                        }
            @if(ViewBag.start != "")
            {
                @: $('#datestart').val("@ViewBag.start");
                        }
            @if(ViewBag.end != "")
            {
                @: $('#dateend').val("@ViewBag.end");
                        }
            @*@if(ViewBag.startvenc != "")
            {
                @: $('#datestartvenc').val("@ViewBag.startvenc");
            }
            @if(ViewBag.endvenc != "")
            {
                @: $('#dateendvenc').val("@ViewBag.endvenc");
            }*@
            @if (ViewBag.start != "" || ViewBag.end != "" || ViewBag.statusType != 0 || ViewBag.startvenc != "" || ViewBag.endvenc != "")
            {
                @:ListadoLiquidadores.LoadData();
                @:ListadoLiquidadores.CleanUrl();
            }
            
            /* Armo la grilla del ABM */
            $('#GridLiquidadores').CreateCommonGrid({
                url: '@Url.Action("GetAllByBolo")',
                serializeGridData: function (postData) {
                    dates = {
                        id: $('#BoloID').val() != '' ? $('#BoloID').val() : 0,
                        start: $('#datestart').val() != '' ? $('#datestart').val() : null,
                        end: $('#dateend').val() != '' ? $('#dateend').val() : null,
                        //startvenc: $('#datestartvenc').val() != '' ? $('#datestartvenc').val() : null,
                        //endvenc: $('#dateendvenc').val() != '' ? $('#dateendvenc').val() : null,
                        filter: $('#FilterType').val()
                    }
                    return JSON.stringify($.extend(postData, dates));
                },
                colNames: ['', 'Bolo', 'Producto', 'Película', 'Fecha Liquidación', ''],
                colModel: [
                    { name: 'Id', index: 'Id', width: 0, sortable: false, hidden: true, key: true },
                    { name: 'Nombre', index: 'Nombre', width: 25, align: "center", sortable: true },
                    { name: 'DenominacionProducto', index: 'DenominacionProducto', width: 25, align: "center", sortable: true, formatter: formatterFacturaLetraNumero },
                    { name: 'DenominacionPelicula', index: 'DenominacionPelicula', width: 25, align: "center", sortable: true, formatter: $.formatCurrency },
                    { name: 'FechaLiquidacion', index: 'FechaLiquidacion', width: 30, align: "center", sortable: true, formatter: 'date', formatoptions: { newformat: 'd/m/Y' } },
                    { name: 'Acciones', index: 'Acciones', width: 25, align: "center", sortable: true, formatter: ListadoLiquidadores.AccionesFormatter }
                ],
                sortname: 'FechaCreacion',
                sortorder: "desc",
                pager: '#GridLiquidadores_pager',
                rowList: [20, 40, 60],
                rowNum: 20
            });
            $('#GridLiquidadores').trigger("reloadGrid");

        },

        CleanUrl: function () {
            urlir = window.location.href.split('?')[0];
            window.history.pushState({ path: urlir }, '', urlir);
        },

        LoadData: function () {
            ListadoLiquidadores.CompletarFiltros();
            valid = ListadoLiquidadores.ValidateFilters();
            if (!valid.success) {
                return $.WarningDialog(valid.message);
            }
            ListadoLiquidadores.ReloadGrid();
        },

        FormatEstado: function (cell, opt, row) {
            var label = '<div class="label label-{type}" style="font-size: 13px;line-height: 20px;">{text}</div>';
            var text = '';
            var type = '';
            switch (cell.toString()) {
                case '@estadoAnulado':
                    text = 'Anulado';
                    type = 'danger';
                    break;
                case '@estadoPagada':
                    text = 'Pagada';
                    type = 'success';
                    break;
                case '@estadoCreada':
                    text = 'Creada';
                    type = 'primary';
                    break;
                case '@estadoImputado':
                    text = 'Imputado';
                    type = 'success';
                    break;
                default:
                    text = 'Invalido';
                    type = 'primary';
                    break;

            }

            return label.replace('{type}', type).replace('{text}', text);
        },

        ValidateFilters: function () {
            var Id = $('#BoloID').val();
            if (Id != "" && (!$.isNumeric(Id) || Id <= 0)) {
                return { success: false, message: 'El N° de Bolo no es correcto' };
            }
            //if ($('#datestartvenc').val() != null && $('#dateendvenc').val() != null)
            //{
            //    validateVenc = $.ValidateDates($('#datestartvenc').val(), $('#dateendvenc').val());
            //    if (validateVenc.success == false)
            //    {
            //        return { success: false, message: 'Las fechas de vencimiento no son correctas.' };
            //    }
            //}
            return $.ValidateDates($('#datestart').val(), $('#dateend').val());
        },

        CompletarFiltros: function () {
            $.CompletarFiltroDates($('#datestart'), $('#dateend'));
        },

        ClearSelect2: function (IdClear, IdClearInput) {
            $("#" + IdClearInput).val("");
            $("#" + IdClear).select2("val", "");
        },

        ExportToExcel:function () {
            JQGridExportExcel.Export('GridLiquidadores', 'Listado de Liquidadores');
        },

        VerDetalleDialog: function () {
            var RowId = $(this).closest('tr').attr('id');
            var row = $("#GridLiquidadores").getRowData(RowId);
            var opt = {
                width: 850, height: 600,
                openCallback: function () {
                    $('#GridDetallesLiquidador').resizeGrid('GridDetallesLiquidador_Container');
                }
            };
            $('#listadoliquidadores-detalle-dialog').OpenFormDialog('@Url.Action("Detalle")?Id=' + $(this).data('id') + '&opensDialog=true', 'Detalle Liquidador ' + row.Letra + row.Numero, opt);
        },

        OnBoloChange: function () {
            var Id = $('#BoloID').val();
            if (Id == "") { return; }
            valid = ListadoLiquidadores.ValidateFilters();
            if (!valid.success) {
                return $.WarningDialog(valid.message);
            }
            var params = {
                url: '@Url.Action("GetBolo", "Bolos")',
                data: { IdBolo: Id },
                success: function (ret) {
                    if (ret.Success && ret.Data != null) {
                        $('#Bolo_Id').select2('data', { id: Id, text: ret.Data.RazonSocial + '(' + ret.Data.CUIT + ')' });
                    }
                    else {
                        // Not Found
                        $.WarningDialog('Bolo no existe');
                    }
                }
            }
            $.AjaxPost(params);
        },

        OnBoloSelected: function (e) {
            $('#BoloID').val(e.val)
        },

        ReloadGrid: function () {
            $('#SelectCount').html('0');
            $("#GridLiquidadores").setGridParam({ datatype: 'json' });
            $('#GridLiquidadores').setGridParam({ page: 1 }).trigger("reloadGrid");
        },

        AccionesFormatter: function (cellvalue, options, rowObject) {
            var ret = '';
            var url = '@Url.Action("Detalle")/' + rowObject.Id;
            ret += '<a class="boton boton-i BtnVerNuevaVentana" title="Detalle Nueva Ventana" target="_blank" data-Id="' + rowObject.Id + '" href="' + url + '"><i class="fa fa-search-plus i-blue"></i></a>';
            ret += '<a class="boton boton-i BtnVerDialog" title="Detalle Dialogo" data-Id="' + rowObject.Id + '"><i class="fa fa-files-o i-green"></i></a>';
            return ret;
        }
    }
    </script>
}