@model Woopin.SGC.Model.Common.Localizacion

@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <fieldset class="form-horizontal">

        <div class="form-group @if (!ViewData.ModelState.IsValidField("Nombre"))
                        { @Html.Raw("has-error");}">
            @Html.LabelFor(model => model.Nombre, new { @class = "col-md-4 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.Nombre, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group @if (!ViewData.ModelState.IsValidField("Provincia"))
                        { @Html.Raw("has-error");}">
            @Html.LabelFor(model => model.Provincia, new { @class = "col-md-4 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.Provincia, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Provincia, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group @if (!ViewData.ModelState.IsValidField("Pais"))
                        { @Html.Raw("has-error");}">
            @Html.LabelFor(model => model.Pais, new { @class = "col-md-4 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.DropDownListFor(model => model.Pais.Id, (IEnumerable<SelectListItem>)ViewBag.Paises, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Pais, null, new { @class = "help-block" })
            </div>
        </div>

    </fieldset>
}
<div class="button-pane clearfix">
    <div class="button-set">
        <a class="boton place-left" id="BtnSubmit" title="Guardar">
            <i class="fa fa-check-circle-o i-green"></i> Guardar Localización
        </a>
        <a class="boton place-left" title="Cancelar" onclick="$.CloseOpenedDialog()">
            <i class="fa fa-times-circle-o i-red"></i>  Cancelar
        </a>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        $('#BtnSubmit').FormSubmit({
            enter: true,
            success: function (data) {
                if (data.Success) {
                    var rowData = $('#GridLocalizaciones').jqGrid('getRowData', data.Localizacion.Id);
                    rowData.Nombre = data.Localizacion.Nombre;
                    rowData.Provincia = data.Localizacion.Provincia;
                    rowData["Pais.Data"] = data.Localizacion.Pais.Data;
                    rowData.Predeterminado = data.Localizacion.Predeterminado;
                    $('#GridLocalizaciones').jqGrid('setRowData', data.Localizacion.Id, rowData);
                    _OpenDialog.dialog('close');
                }
                else {
                    $('#Alert-Container').NewAlert('error', $.makeErrorMsgList(data.ErrorMessage, data.Errors));
                }
            }
        });
    });
</script>
