@model Woopin.SGC.Model.Contabilidad.Cuenta

@{
    Layout = null;
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="Dialog-Alert-Container"></div>
    <fieldset class="form-horizontal">
        <div class="form-group @if (!ViewData.ModelState.IsValidField("Codigo"))
                        { @Html.Raw("has-error");}">
            @Html.LabelFor(model => model.Codigo, new { @class = "col-md-4 horizontal-label readonly-label" })
            <div class="col-md-6 input-container">
                @Html.TextBox("Codigo", (string)ViewBag.Codigo, new { @class = "textinput", @readonly = true })
                @Html.ValidationMessageFor(model => model.Codigo, null, new { @class = "help-block" })
            </div>
        </div>    

        <div class="form-group @if (!ViewData.ModelState.IsValidField("Nombre"))
                        { @Html.Raw("has-error");}">
            @Html.LabelFor(model => model.Nombre, new { @class = "col-md-4 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.Nombre, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "help-block" })
            </div>
        </div>

    </fieldset>
}

<div class="button-pane clearfix">
    <div class="button-set">
        <a class="boton place-left" id="BtnSubmit" title="Guardar">
            <i class="fa fa-check-circle-o i-green"></i> Crear Cuenta
        </a>
        <a class="boton place-left" title="Cancelar" onclick="$.CloseOpenedDialog()">
            <i class="fa fa-times-circle-o i-red"></i>  Cancelar
        </a>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        $('#BtnSubmit').FormSubmit({
            enter: true,
            success: function (data) {
                if (data.Success) {
                    PlanCuentas.LoadJsTree();
                    _OpenDialog.dialog('close');
                    msg = "La operación fue existosa";
                    typeMsg = "success";
                    $.WarningDialog(msg, typeMsg);
                }
                else {
                    $('#Dialog-Alert-Container').NewAlert('error', $.makeErrorMsgList(data.ErrorMessage, data.Errors));
                }
            }
        });
    });
</script>