@model IList<Woopin.SGC.Model.Cooperativa.Asociado>
@{
    Layout = null;
}
@{
    //TODO en realidad es FechaActaIngreso
    var FechaActaIngreso = "";
    FechaActaIngreso = @Model.First().FechaIngreso.ToString();
    var Acta = "";
    Acta = @Model.First().ActaAlta.ToString();
    
}
<div style="width: 790px; padding: 0px 90px; background-color: #ffffff; font-family: Calibri; color: #000000; ">
    <table style="width: 610px;margin-left:2px;font-size:17px; ">
        <tr>
            <td>
                <div style="padding: 8px; float: left; position: relative; min-height: 1px; line-height: 500px; display: inline-block;">
                    <div>
                        <div class="Cuerpo-SI" style="text-align:justify;">
                            <div class="titulo" style="text-align:center; text-transform:uppercase; padding-top: 50px; padding-bottom: 40px; font-weight:bold; text-decoration:underline;">
                                ACTA NÚMERO @Html.DisplayFor(model => model.First().ActaAlta)
                                <br style="padding-top: 10px; " />
                                DEL CONSEJO DE ADMINISTRACIÓN DE LA COOPERATIVA DE
                                <br style="padding-top: 10px; " />
                                TRABAJO PARA EL TRANSPORTE PORTUARIO LIMITADA</div>
                        </div>
                        <div class="Cuerpo-SI" style="text-align:justify; ">
                            En la Ciudad Autónoma de Buenas Aires, el @Html.DisplayFor(model => model.First().FechaFinalizacionAlta),
                            se reúne el Consejo de Administración de la COOPERATIVA
                            DE TRABAJO PARA EL TRANSPORTE PORTUARIO LIMITADA, conformado por el
                            presidente @Html.DisplayFor(model => model.First().Presidente), secretario @Html.DisplayFor(model => model.First().Secretario) y
                            tesorero @Html.DisplayFor(model => model.First().Tesorero) y se encuentra también presente @Html.DisplayFor(model => model.First().OtroPresente)
                            , para tratar el siguiente orden del día: 1) Lectura, consideración y
                            aprobación del Acta de la sesión anterior del Consejo de Administración; 2)
                            Aprobación de los ingresos y egresos; 3) Incorporación de nuevos asociados. Iniciada
                            la reunión se trata el punto 1) del orden del día y se dispone la lectura al acta anterior,
                            lo cual así se verifica quedando la misma aprobada por unanimidad de los presentes,
                            siendo fiel reflejo de lo actuado. Continuando con el punto 2) del orden del día, se trae
                            a análisis los ingresos y egresos del período, que luego de un cambio de opiniones y
                            consideraciones, se aprueba por unanimidad.
                            Acto seguido toma la palabra el Sr. Presidente y referente al punto 3) trae a
                            aprobación la solicitud de asociación efectuada por los señores: 
                            
                            @foreach (var item in Model) 
                            {
                                @Html.DisplayFor(modelItem => item.Apellido); 
                                <n></n>
                                @Html.DisplayFor(modelItem => item.Nombre);
                                <n></n>
                            }
                            domiciliado en la calle
                            @foreach (var item in Model)
                            {
                                @Html.DisplayFor(modelItem => item.Direccion);
                                <n></n>
                                @Html.DisplayFor(modelItem => item.Numero);
                                <n></n>
                                @Html.DisplayFor(modelItem => item.Localizacion.Nombre);
                                <n></n>
                            }
                            , número de
                            @foreach (var item in Model)
                            {
                                @Html.DisplayFor(modelItem => item.DNI);
                            }

                            quienes firmaron sus legajos el día @Html.DisplayFor(model => model.First().FechaActaIngreso), luego de un
                            intercambio de opiniones y consideraciones efectuadas por los consejeros, queda
                            aprobada por unanimidad de los presentes. No habiendo más asuntos que considerar,
                            se da por finalizada la reunión siendo las @Html.DisplayFor(model => model.First().FechaFinalizacionAlta.Value.Hour) horas.


                        </div>
                        <div class="Cuerpo-SI" style="text-align:center; padding-top: 10px;">
                            .……………………….. ………………………….
                            <br />
                            Secretario       Presidente
                            <br />
                            @Html.DisplayFor(model => model.First().Secretario) @Html.DisplayFor(model => model.First().Presidente)
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>