@model IEnumerable<Woopin.SGC.Model.Contabilidad.SumaSaldo>
@{
    ViewBag.Title = "Sumas y Saldos";
    ViewBag.SectionIcon = "sitemap";
    ViewBag.SectionTitle = "Sumas y Saldos";
}

<div class="action-bar row">
    <div class="col-md-6 place-left">
        Desde
        <input type="text" id="datestart" class="text-center" value="@DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy")" />
        al
        <input type="text" id="dateend" class="text-center" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
    </div>
    <div class="place-right search-box">
        <input type="search" name="TbxSearch" id="TbxSearch" placeholder="Buscar cuenta..." />
        <button type="submit" class="button-clear hide" title="Limpiar filtro" id="BtnClearSearch"></button>
        <button type="submit" class="button-search" title="Buscar" id="BtnSearch"></button>
    </div>
    <a class="boton boton-i place-right" id="BtnRefresh" title="Actualizar">
        <i class="fa fa-refresh i-blue"></i>
    </a>
    <a class="boton boton-i place-right" id="BtnExportXLS" title="Exportar a Excel" >
        <span class="icon-xls"></span>
    </a>
</div>
<div id="SumasYSaldosTree"></div>
<div id="create-dialog"></div>
@section Scripts{
    <script type="text/javascript" src="/Scripts/jstree/jstree.js"></script>
    <link rel="stylesheet" href="/Content/jstree.css" />
    <script type="text/javascript">
        var SumasYSaldosTree = {

            LoadJsTree: function () {
                var params = {
                    url: '@Url.Action("GetSumasYSaldosTree")',
                    data : {
                        start: $('#datestart').val() != '' ? $('#datestart').val() : null,
                        end: $('#dateend').val() != '' ? $('#dateend').val() : null
                    },
                    success: SumasYSaldosTree.InitJsTree
                }
                $.AjaxPost(params);
            },

            InitJsTree: function (html) {
                $('#SumasYSaldosTree').html(html);
                $('#SumasYSaldosTree').jstree('destroy');
                $('#SumasYSaldosTree').jstree({
                    "plugins": ["contextmenu", "search"]
                });
            },

            init: function () {
                debugger;
                $('#datestart,#dateend').datepicker({ dateFormat: 'dd/mm/yy' });
                $.jstree.defaults.search.show_only_matches = true;
                $.jstree.defaults.search.fuzzy = false;
                $.jstree.defaults.contextmenu.items = {
                    "ccp": false,
                    "create": false,
                    "rename": false,
                    "remove": false//,
                    //"CrearDesde": { 'label': 'Crear Cuenta', 'icon': 'fa fa-plus-circle', 'action': function () { alert('a'); } }
                };
                $('#BtnSearch').click(function () {
                    $.jstree.reference('#SumasYSaldosTree').search($('#TbxSearch').val());
                });
                $('#TbxSearch').keyup(SumasYSaldosTree.OnKeyUpSearchPlan);
                /* Binding del boton de crear*/
                
                $('#BtnExportXLS').click(SumasYSaldosTree.ExportToExcel);

                $('#BtnRefresh').click(function () {
                    SumasYSaldosTree.LoadData();
                });
                SumasYSaldosTree.LoadData();
            },

            LoadData: function () {
                SumasYSaldosTree.CompletarFiltros();
                valid = SumasYSaldosTree.ValidateFilters();
                if (!valid.success) {
                    return $.WarningDialog(valid.message);
                }
                SumasYSaldosTree.LoadJsTree();
            },

            ValidateFilters: function () {
                return $.ValidateDates($('#datestart').val(), $('#dateend').val());
            },

            CompletarFiltros: function () {
                if ($('#datestart').val() == "" && $('#dateend').val() == "") {
                    $('#datestart').val("@DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy")");
                    $('#dateend').val("@DateTime.Now.ToString("dd/MM/yyyy")");
                }
                if ($('#dateend').val() == "") {
                    $('#dateend').val("@DateTime.Now.ToString("dd/MM/yyyy")");
                }
                if ($('#datestart').val() == "") {
                    day = (($('#dateend').val()).split("/"))[0];
                    month = (($('#dateend').val()).split("/"))[1] - 1;
                    year = (($('#dateend').val()).split("/"))[2];

                    date_start = new Date(year, month - 1, day);
                    $('#datestart').val(date_start.format("dd/mm/yyyy"));
                }
            },

            ExportToExcel: function () {
                location.href = '@Url.Action("ExportarExcel")?Start=' + $('#datestart').val() + '&End=' + $('#dateend').val();
            },

            OnKeyUpSearchPlan: function () {
                if (to) { clearTimeout(to); }
                to = setTimeout(function () {
                    var v = $('#TbxSearch').val();
                    $.jstree.reference('#SumasYSaldosTree').search(v);
                }, 250);
            }
        }

        $(document).ready(function () {
            SumasYSaldosTree.init();
        });


    </script>

}