@model Woopin.SGC.Model.Bolos.ConceptoBolo

@{
    ViewBag.Title = "Editar Concepto Bolo";
    ViewBag.SectionIcon = "building-o";
    ViewBag.SectionTitle = "Editar Concepto Bolo";
}
@using (Html.BeginForm("Editar", "ConceptosBolo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <div id="Alert-Dialog-Container"></div>
    <fieldset class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <a class="boton place-left" id="BtnSubmit"><i class="fa fa-save i-green"></i> Guardar Cambios</a>
                <a class="boton place-left" href="@Url.Action("Index")"><i class="fa fa-arrow-left i-red"></i> Volver al Listado</a>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, new { @class = "col-md-2 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.Descripcion, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Descripcion, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdditionalDescription, new { @class = "col-md-2 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.AdditionalDescription, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.AdditionalDescription, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Porcentaje, new { @class = "col-md-2 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.Porcentaje, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Porcentaje, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, new { @class = "col-md-2 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.Valor, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Valor, null, new { @class = "help-block" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Suma, new { @class = "col-md-2 horizontal-label" })
            <div class="col-md-6 input-container">
                <input class="textinput" id="Suma" name="Suma" type="checkbox" value="true" @if (Model.Suma) { @Html.Raw("checked") ; }>
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.OnlyAutomatic, new { @class = "col-md-2 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.OnlyAutomatic, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.OnlyAutomatic, null, new { @class = "help-block" })
            </div>
        </div>*@
    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2")
    @Styles.Render("~/Scripts/select2/select2.css")
    @Scripts.Render("~/Scripts/jquery.mask.min.js")

    <script type="text/javascript">
    $(document).ready(function () {
        $('#CUIT').mask('99-99999999-9');
        $('#BtnSubmit').FormSubmit({
            enter: true,
            success: function (data) {
                if (data.Success) {
                    window.onbeforeunload = null;
                    $.ShowLoader();
                    window.location = '@Url.Action("Index")'
                }
                else {
                    $('#Alert-Dialog-Container').NewAlert('error', $.makeErrorMsgList(data.ErrorMessage, data.Errors));
                }
            }

        });
    });
    </script>
}