@{
    ViewBag.Title = "Recibos";
    ViewBag.SectionIcon = "truck";
    ViewBag.SectionTitle = "Listado de Recibos";
}
<div class="action-bar row" style="margin-bottom:20px;">
    <a class="boton place-left" id="BtnImprimirGrid" title="Imprimir Todos">
        <i class="fa fa-print i-blue"></i>  Imprimir Todos
    </a>
    <a class="boton place-left" id="BtnImprimirSeleccionados" title="Imprimir Seleccionados">
        <i class="fa fa-print i-blue"></i>  Imprimir Seleccionados
    </a>
</div>
<div class="action-bar row">
    <div class="select-count">
        <span id="SelectCount">0</span>
    </div>
    <a class="boton place-left" id="BtnCreate" title="Crear Recibo" href="@Url.Action("Nuevo")">
        <i class="fa fa-plus-circle i-green"></i>  Crear Recibo
    </a>
    @*<a class="boton place-left" id="BtnDeleteSelected" title="Eliminar Seleccionados">
        <i class="fa fa-trash-o i-red"></i>  Eliminar Seleccionados
    </a>*@
    <div class="place-right search-box">
        <input type="search" name="TbxSearch" id="TbxSearch" placeholder="Buscar Recibo..." />
        <button type="submit" class="button-clear hide" title="Limpiar filtro" id="BtnClearSearch"></button>
        <button type="submit" class="button-search" title="Buscar" id="BtnSearch"></button>
    </div>
    <a class="boton boton-i place-right" id="BtnRefresh" title="Actualizar">
        <i class="fa fa-refresh i-blue"></i>
    </a>
    <a class="boton boton-i place-right" id="BtnExportXLS" title="Exportar a Excel" >
        <span class="icon-xls"></span>
    </a>

    <div class="col-md-4 place-left" style="margin-top:6px;">
        Desde
        <input type="text" id="datestart" class="text-center" value="@DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy")" />
        al
        <input type="text" id="dateend" class="text-center" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
    </div>


</div>
<div class="table-container">
    <table id="GridRecibos"></table>
    <div id="GridRecibos_pager"></div>
</div>
<div id="create-dialog"></div>
<div id="edit-dialog"></div>
<div id="importar-Recibos-dialog"></div>
@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    <script type="text/javascript">
        var ListadoRecibos = {

            init: function () {
                $('#datestart,#dateend').datepicker({ dateFormat: 'dd/mm/yy' });

                $('#BtnImprimirGrid').bind('click', ListadoRecibos.ImprimirGrid);
                $('#BtnImprimirSeleccionados').bind('click', ListadoRecibos.ImprimirSeleccionados);

                $('#BtnExportXLS').click(ListadoRecibos.ExportToExcel);
                /* Binding de los checkbox, contador de seleccionados */
                $.SetupSelectCount('GridRecibos');
                /* Buscador de arriba */
                $.SetupSearchTextbox('#GridRecibos', ["Empleado.Nombre", "FechaCreacion"]);
                /* Binding del boton de Refresh */
                $('#BtnRefresh').bind('click', ListadoRecibos.Refresh);
                /* Eliminar Seleccionados */
                //$('#BtnDeleteSelected').click(ListadoRecibos.OnEliminarSeleccionadosClick);

                /* Eliminar de Grilla */
                //$(document).on('click', '.BtnEliminar', ListadoRecibos.EliminarRecibo);
                /* Editar de la grilla */
                // Abre nueva ventana
                //$(document).on('click', '.BtnEditar', ListadoRecibos.EditarRecibo);

                /* Armo la grilla del ABM */
                $('#GridRecibos').CreateCommonGrid({
                    url: '@Url.Action("GetAll")',
                    serializeGridData: function (postData) {
                        data = {
                            start: $('#datestart').val() != '' ? $('#datestart').val() : null,
                            end: $('#dateend').val() != '' ? $('#dateend').val() : null
                        }
                        return JSON.stringify($.extend(postData, data));
                    }, colNames: ['', '', 'Nro Referencia', 'Nombre', 'Apellido', 'Fecha Creacion', 'Periodo', 'Remunerativo', 'No Remunerativo', 'Descuento', 'Total', '', ''],
                    colModel: [
                        { name: 'Id', index: 'Id', width: 0, sortable: false, hidden: true, key: true },
                        { name: 'Seleccionados', index: 'Seleccionados', width: 5, sortable: false, formatter: SelectCheckboxFormatter, align: "center" },
                        { name: 'NumeroReferencia', index: 'NumeroReferencia', width: 15, align: "center", sortable: true },
                        { name: 'Empleado.Nombre', index: 'Empleado.Nombre', width: 25, align: "center", sortable: true },
                        { name: 'Empleado.Apellido', index: 'Empleado.Apellido', width: 25, align: "center", sortable: true },
                        { name: 'FechaCreacion', index: 'FechaCreacion', width: 25, align: "center", sortable: true, formatter: 'date', formatoptions: { newformat: 'd/m/Y' } },
                        { name: 'Periodo', index: 'Periodo', width: 30, align: "center", sortable: true },
                        { name: 'TotalRemunerativo', index: 'TotalRemunerativo', width: 25, align: "center", sortable: true },
                        { name: 'TotalNoRemunerativo', index: 'TotalNoRemunerativo', width: 25, align: "center", sortable: true },
                        { name: 'TotalDescuento', index: 'TotalDescuento', width: 25, align: "center", sortable: true },
                        { name: 'Total', index: 'Total', width: 25, align: "center", sortable: true },
                        { name: 'Actions', index: 'Actions', width: 10, sortable: false, formatter: FreeFormatter, formatoptions: { urlAction: '@Url.Action("Detalle")', icon: 'fa fa-search-plus', title: 'Detalle' }, align: "center" },
                        { name: 'Delete', index: 'Delete', width: 10, sortable: false, formatter: ABM_Eliminar, align: "center" }
                    ],
                    sortname: 'FechaCreacion',
                    sortorder: "asc",
                    pager: '#GridRecibos_pager',
                });
                $('#GridRecibos').trigger("reloadGrid");
                $(document).on('click', '.BtnEliminar', ListadoRecibos.OnEliminarSeleccionadosClick);
            },

            OnEliminarSeleccionadosClick: function () {
                var SelectedIds = $.GetSelectedRows('GridRecibos');
                if (SelectedIds.length > 0) {
                    ConfirmationDialog.Show("Esta seguro que desea eliminar los recibos seleccionadas?",
                        function () { ListadoRecibos.EliminarSeleccionados(SelectedIds) });
                }
            },

            EliminarSeleccionados: function (SelectedIds) {
                var params = {
                    url: '@Url.Action("Eliminar")',
                    data: { Ids: SelectedIds },
                    success: function (ret) {
                        if (ret.Success) {
                            $.each(SelectedIds, function (i, v) {
                                $('#GridRecibos').jqGrid('delRowData', v);
                            });
                            $('#SelectCount').html('0');
                        }
                    }
                }
                $.AjaxPost(params);
            },

            ImprimirSeleccionados: function () {
                var SelectedIds = $.GetSelectedRows('GridRecibos');
                window.open('@Url.Action("DescargarPDFs")?' + "IdsString=" + SelectedIds, '_blank');
            },

            ImprimirGrid: function () {
                var SelectedIds = $('#GridRecibos').jqGrid("getCol", "Id");
                window.open('@Url.Action("DescargarPDFs")?' + "IdsString=" + SelectedIds, '_blank');
            },


            ExportToExcel: function () {
                JQGridExportExcel.Export('GridRecibos', 'Listado de Recibos');
            },

            Refresh: function () {
                ListadoRecibos.LoadData();
            },

            LoadData: function () {
                ListadoRecibos.CompletarFiltros();
                valid = ListadoRecibos.ValidateFilters();
                if (!valid.success) {
                    return $.WarningDialog(valid.message);
                }
                ClearSelectedRows('GridRecibos');
                ListadoRecibos.ReloadGrid();
            },

            ReloadGrid: function () {
                $("#GridRecibos").setGridParam({ datatype: 'json' });
                $('#GridRecibos').setGridParam({ page: 1 }).trigger("reloadGrid");
            },

            ValidateFilters: function () {
                return $.ValidateDates($('#datestart').val(), $('#dateend').val());
            },

            CompletarFiltros: function () {
                $.CompletarFiltroDates($('#datestart'), $('#dateend'));
            },

            @*OnEliminarSeleccionadosClick: function(){
                var SelectedIds = $.GetSelectedRows('GridRecibos');
                if (SelectedIds.length > 0) {
                    ConfirmationDialog.Show("Esta seguro que desea eliminar los Recibos seleccionadas?",
                        function () { ListadoRecibos.EliminarSeleccionados(SelectedIds) });
                }
            },

            EliminarSeleccionados: function (SelectedIds) {
                var params = {
                    url: '@Url.Action("Eliminar")',
                    data: { Ids: SelectedIds },
                    success: function (ret) {
                        if (ret.Success) {
                            $.each(SelectedIds, function (i, v) {
                                $('#GridRecibos').jqGrid('delRowData', v);
                            });
                            $('#SelectCount').html('0');
                        }
                    }
                }
                $.AjaxPost(params);
            },

            EliminarRecibo: function () {
                var Id = [$(this).closest('tr').attr('id')];
                ConfirmationDialog.Show("Esta seguro que desea eliminar el Recibo?",
                    function () { ListadoRecibos.EliminarSeleccionados(Id) });
            },

            EditarRecibo: function () {
                var Id = $(this).closest('tr').attr('id');
                $.ShowLoader();
                window.location = '@Url.Action("Editar")/' + Id;
            }*@
        }
        $(document).ready(function () {
            ListadoRecibos.init();
        });
    </script>
}