@{
    ViewBag.Title = "Rubros de Articulos";
    ViewBag.SectionIcon = "cubes";
    ViewBag.SectionTitle = "Listado de Rubros";
}

<div class="action-bar row">
    <div class="select-count">
        <span id="SelectCount">0</span>
    </div>
    <a class="boton place-left" id="BtnCreate" title="Crear Rubro">
        <i class="fa fa-plus-circle i-green"></i>  Crear Rubro
    </a>
    <a class="boton place-left" id="BtnDeleteSelected" title="Eliminar Seleccionados">
        <i class="fa fa-trash-o i-red"></i>  Eliminar Seleccionados
    </a>
    <div class="place-right search-box">
        <input type="search" name="TbxSearch" id="TbxSearch" placeholder="Buscar Rubro..." />
        <button type="submit" class="button-clear hide" title="Limpiar filtro" id="BtnClearSearch"></button>
        <button type="submit" class="button-search" title="Buscar" id="BtnSearch"></button>
    </div>
    <a class="boton boton-i place-right" id="BtnRefresh" title="Actualizar">
        <i class="fa fa-refresh i-blue"></i>
    </a>
    <a class="boton boton-i place-right" id="BtnExportXLS" title="Exportar a Excel" >
        <span class="icon-xls"></span>
    </a>
</div>
<div class="table-container">
    <table id="GridRubroArticulos"></table>
    <div id="GridRubroArticulos_pager"></div>
</div>
<div id="create-dialog"></div>
<div id="edit-dialog"></div>

@section Scripts{
    @Scripts.Render("~/bundles/jqgrid")
    <script type="text/javascript">
        var ListadoRubroArticulos = {
            Nuevo:function () {
                $('#create-dialog').OpenFormDialog('@Url.Action("Nuevo")', '<i class="fa fa-cubes"></i> Crear Rubro', null);
            },

            Refresh: function () {
                ClearSelectedRows('GridRubroArticulos');
                ListadoRubroArticulos.ReloadGrid();
            },

            ReloadGrid:function () {
                $("#GridRubroArticulos").setGridParam({ datatype: 'json' });
                $('#GridRubroArticulos').setGridParam({ page: 1 }).trigger("reloadGrid");
            },

            OnClickEliminar: function () {
                var Id = [$(this).closest('tr').attr('id')];
                ConfirmationDialog.Show("Esta seguro que desea eliminar el rubro seleccionado?",
                            function () { ListadoRubroArticulos.Eliminar(Id) });
            },

            ExportToExcel: function () {
                JQGridExportExcel.Export('GridRubroArticulos', 'Listado de Rubros de Articulos');
            },

            Eliminar: function (SelectedIds) {
                var params = {
                    url: '@Url.Action("Eliminar")',
                    data: { Ids: SelectedIds },
                    success: function (ret) {
                        if (ret.Success) {
                            $.each(SelectedIds, function (i, v) {
                                $('#GridRubroArticulos').jqGrid('delRowData', v);
                            });
                            $('#SelectCount').html('0');
                            //TODO ver como arreglar esto para que no tenga que recargar todo de nuevo
                            $("#GridRubroArticulos").jqGrid("clearGridData", true);
                            ListadoRubroArticulos.ReloadGrid();
                        }
                    }
                }
                $.AjaxPost(params);
            },

            OnClickEliminarSeleccionados: function () {
                var SelectedIds = $.GetSelectedRows('GridRubroArticulos');
                if (SelectedIds.length > 0) {
                    ConfirmationDialog.Show("Esta seguro que desea eliminar los Rubros seleccionados?",
                            function () { ListadoRubroArticulos.Eliminar(SelectedIds) });
                } else {
                    $.WarningDialog("No hay RubroArticulos seleccionados!");
                }

            },

            Editar:function () {
                var Id = $(this).closest('tr').attr('id');
                $('#edit-dialog').OpenFormDialog('@Url.Action("Editar")/' + Id, '<i class="fa fa-cubes"></i> Editar Rubro', null);
            },

            init: function () {

                /* Binding del boton de crear*/
                $('#BtnCreate').bind('click', ListadoRubroArticulos.Nuevo);

                /* Binding del boton de Refresh */
                $('#BtnRefresh').bind('click', ListadoRubroArticulos.Refresh);

                /* Binding de los checkbox, contador de seleccionados */
                $.SetupSelectCount('GridRubroArticulos');
                /* Eliminar Seleccionados */
                $('#BtnDeleteSelected').click(ListadoRubroArticulos.OnClickEliminarSeleccionados);

                /* Eliminar de Grilla */
                $(document).on('click', '.BtnEliminar', ListadoRubroArticulos.OnClickEliminar);
                /* Editar de la grilla */
                $(document).on('click', '.BtnEditar', ListadoRubroArticulos.Editar);

                /* Buscador de arriba */
                $.SetupSearchTextbox('#GridRubroArticulos', ["Descripcion", "Costo"]);
                $('#BtnExportXLS').click(ListadoRubroArticulos.ExportToExcel);
                /* Armo la grilla del ABM */
                $('#GridRubroArticulos').CreateCommonGrid({
                    url: '@Url.Action("GetAll")',
                    colNames: ['', '<input type="checkbox" id="SelectAll"/>', 'Descripcion', ''],
                    colModel: [
                        { name: 'Id', index: 'Id', width: 0, sortable: false, hidden: true, key: true },
                        { name: 'Seleccionados', index: 'Seleccionados', width: 5, sortable: false, formatter: SelectCheckboxFormatter, align: "center" },
                        { name: 'Descripcion', index: 'Descripcion', width: 30, align: "center", sortable: true },
                        { name: 'Acciones', index: 'Acciones', width: 15, sortable: false, formatter: ABM_EditarYEliminar, align: "center" }
                    ],
                    sortname: 'Descripcion',
                    sortorder: "asc",
                    pager: '#GridRubroArticulos_pager'
                });
                $('#GridRubroArticulos').trigger("reloadGrid");
            }
        }

    $(document).ready(function () {
        ListadoRubroArticulos.init();
    });
    </script>
}