@model Woopin.SGC.Model.Stock.RubroArticulo

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="Alert-Dialog-Container"></div>
    <fieldset class="form-horizontal">

        <div class="form-group @if (!ViewData.ModelState.IsValidField("Descripcion"))
                        { @Html.Raw("has-error");}">
            @Html.LabelFor(model => model.Descripcion, new { @class = "col-md-4 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.Descripcion, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Descripcion, null, new { @class = "help-block" })
            </div>
        </div>

    </fieldset>
}
<div class="button-pane clearfix">
    <div class="button-set">
        <a class="boton place-left" id="BtnSubmit" title="Guardar">
            <i class="fa fa-check-circle-o i-green"></i> Crear Rubro
        </a>
        <a class="boton place-left" title="Cancelar" onclick="$.CloseOpenedDialog()">
            <i class="fa fa-times-circle-o i-red"></i>  Cancelar
        </a>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">

    $(document).ready(function () {
        $('#BtnSubmit').FormSubmit({
            enter: true,
            success: function (data) {
                if (data.Success) {
                    $('#GridRubroArticulos').jqGrid('addRowData', 'Id', data.RubroArticulo);
                    $('#GridRubroArticulos').trigger("reloadGrid");
                    _OpenDialog.dialog('close');
                    msg = "La operación fue existosa";
                    typeMsg = "success";
                    $.WarningDialog(msg, typeMsg);
                }
                else {
                    $('#Alert-Dialog-Container').NewAlert('error', $.makeErrorMsgList(data.ErrorMessage, data.Errors));
                }
            }
        });

    });
</script>
