@model Woopin.SGC.Model.Contabilidad.BloqueoContable

@{
    Layout = null;
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Ejercicio.Id, new { @Value = ViewBag.IdEjercicio })
    <div id="Alert-Dialog-Container"></div>
    <fieldset class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "col-md-4 horizontal-label" })
            <div class="col-md-6 input-container">
                @Html.TextBoxFor(model => model.Nombre, new { @class = "textinput" })
                @Html.ValidationMessageFor(model => model.Nombre, null, new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Inicio, new { @class = "col-md-4 horizontal-label" })
            <div class="col-md-8 input-container">
                <input class="text-box single-line textinput" data-val="true" data-val-required="La Fecha Inicio es requerida" id="Inicio" name="Inicio" type="text">
                @Html.ValidationMessageFor(model => model.Inicio, null, new { @class = "help-block" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Final, new { @class = "col-md-4 horizontal-label" })
            <div class="col-md-8 input-container">
                <input class="text-box single-line textinput" data-val="true" data-val-required="La Fecha Final es requerida" id="Final" name="Final" type="text">
                @Html.ValidationMessageFor(model => model.Final, null, new { @class = "help-block" })
            </div>
        </div>
    </fieldset>
}

<div class="button-pane clearfix">
    <div class="button-set">
        <a class="boton place-left" id="BtnSubmit" title="Guardar">
            <i class="fa fa-check-circle-o i-green"></i>  Crear Bloqueo Contable
        </a>
        <a class="boton place-left" title="Cancelar" onclick="$.CloseOpenedDialog()">
            <i class="fa fa-times-circle-o i-red"></i>  Cancelar
        </a>
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/select2")
@Styles.Render("~/Scripts/select2/select2.css")
@Scripts.Render("~/bundles/jqueryui")
<script type="text/javascript">
    $(document).ready(function () {
        $("#Final,#Inicio").datepicker({ dateFormat: 'dd/mm/yy' });
        $('#BtnSubmit').FormSubmit({
            enter: true,
            success: function (data) {
                if (data.Success) {
                    $('#GridBloqueos').jqGrid('addRowData', 'Id', data.BloqueoContable);
                    $('#GridBloqueos').trigger("reloadGrid");
                    _OpenDialog.dialog('close');
                    msg = "La operación fue existosa";
                    typeMsg = "success";
                    $.WarningDialog(msg, typeMsg);
                }
                else {
                    $('#Alert-Dialog-Container').NewAlert('error', $.makeErrorMsgList(data.ErrorMessage, data.Errors));
                }
            }
        });
    });
</script>