@model IList<Woopin.SGC.Model.Cooperativa.Acta>
@using Woopin.SGC.Common.Helpers
@using Woopin.SGC.Model.Negocio
@{
    Layout = null;
}
@for (int i = 0; i < Model.Count(); ++i)
{
 
    var FechaActaIngreso = "";
    FechaActaIngreso = @Model[i].FechaActa.ToString("dd/MM/yyyy");
    var Acta = "";
    Acta = @Model[i].NumeroActa.ToString();
    var DomicilioText = " domiciliado en la calle ";
    var NumeroText = " , número de ";
    var ParentesisText = ") ";
    var HayIngresos = "informa que durante este mes no se han efectuado incorporaciones de asociados";
    var NoHayIngresos = "trae a aprobación la solicitud de asociación efectuada por los señores: ";
    var HayEgresos = " Informa que durante este mes no se han efectuado egresos de asociados";
    var NoHayEgresos = " trae a aprobación el egreso de asociación efectuada por los señores: ";
    //var EnterText = "\n";

    //start for
    <div style="width: 790px; padding: 0px 90px; background-color: #ffffff; font-family: Calibri; color: #000000; ">
        <table style="width: 610px;margin-left:2px;font-size:17px; ">
            <tr>
                <td>
                    <div style="padding: 8px; float: left; position: relative; min-height: 1px; line-height: 500px; display: inline-block;">
                        <div>
                            <div class="Cuerpo-SI" style="text-align:justify;">
                                <div class="titulo" style="text-align:center; text-transform:uppercase; padding-top: 50px; padding-bottom: 40px; font-weight:bold; text-decoration:underline;">
                                    @*ACTA NÚMERO @Html.DisplayFor(model => model[i].NumeroActa)*@
                                    ACTA NÚMERO @Model[i].NumeroActa
                                    <br style="padding-top: 10px; " />
                                    DEL CONSEJO DE ADMINISTRACIÓN DE LA COOPERATIVA DE
                                    <br style="padding-top: 10px; " />
                                    @*TRABAJO PARA EL TRANSPORTE PORTUARIO LIMITADA*@
                                    @*@Html.DisplayFor(model => model[i].Organizacion.NombreFantasia)*@
                                    @Model[i].Organizacion.NombreFantasia
                                </div>
                            </div>
                            <div class="Cuerpo-SI" style="text-align:justify; ">
                                <br />
                                En la Ciudad Autónoma de Buenas Aires, el @FechaActaIngreso,
                                se reúne el Consejo de Administración de la
                                @*COOPERATIVA DE TRABAJO PARA EL TRANSPORTE PORTUARIO LIMITADA*@
                                @Html.DisplayFor(model => model[i].Organizacion.RazonSocial)
                                , conformado por el
                                @if (Model[i].Presidente != null && Model[i].Presidente != "")
                                {
                                    @Html.TextArea("presidente");
                                    @Html.DisplayFor(model => model[i].Presidente);
                                    @Html.TextArea(",");
                                }
                                @if (Model[i].Secretario != null && Model[i].Secretario != "")
                                {
                                    @Html.TextArea("secretario");
                                    @Html.DisplayFor(model => model[i].Secretario);
                                    @Html.TextArea(",");
                                }
                                @if (Model[i].Tesorero != null && Model[i].Tesorero != "")
                                {
                                    @Html.TextArea("tesorero");
                                    @Html.DisplayFor(model => model[i].Tesorero);
                                    @Html.TextArea(",");
                                }
                                @if (Model[i].OtroPresente != null && Model[i].OtroPresente != "")
                                {
                                    @Html.TextArea("y se encuentra también presente");
                                    @Html.DisplayFor(model => model[i].OtroPresente);
                                }

                                , para tratar el siguiente orden del día:
                                <br />
                                1) Lectura del Acta de la sesión anterior
                                <br />
                                2) Aprobación de los ingresos y egresos
                                <br />
                                3) Informes de avances profesionales


                                @if (Model[i].OtrosPuntos != null && Model[i].OtrosPuntos.Count() > 0)
                                {
                                    int j = Model[i].OtrosPuntos.Count() + 3;

                                    foreach (var item in Model[i].OtrosPuntos)
                                    {
                                        <br />
                                        @j
                                        @ParentesisText;
                                        @Html.DisplayFor(modelItem => item.Encabezado);
                                        j++;
                                    }
                                }




                                <br />
                                Iniciada la reunión se trata el punto
                                <br />
                                1) del orden del día y se dispone la lectura al acta anterior, lo cual así se
                                verifica quedando la misma aprobada por unanimidad de los presentes, siendo fiel
                                reflejo de lo actuado. Continuando con el punto
                                <br />
                                2) del orden del día, se trae a análisis los ingresos y egresos del período, que
                                luego de un cambio de opiniones y consideraciones, se aprueba por unanimidad.
                                <br />
                                Acto seguido toma la palabra el Sr. Presidente y referente al punto

                                @if (Model[i].AsociadosIngreso.Count == 0)
                                {
                                    @HayIngresos;
                                    @*@Html.TextArea("informa que durante este mes no se han efectuado incorporaciones de asociados");*@
                                }
                                else
                                {
                                    @NoHayIngresos;
                                    @*@Html.TextArea("trae a aprobación la solicitud de asociación efectuada por los señores: ");*@
                                }

                                @foreach (var item in Model[i].AsociadosIngreso)
                                {
                                    @Html.DisplayFor(modelItem => item.Apellido);
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.Nombre);
                                    <n></n>
                                    @DomicilioText;
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.Direccion);
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.Numero);
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.Localizacion.Nombre);
                                    <n></n>
                                    @NumeroText;
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.DNI);
                                    <n></n>

                                }


                                @if (Model[i].AsociadosIngreso.Count != 0)
                                {
                                    @Html.TextArea("quienes firmaron sus legajos el día ");
                                    @*@Html.DisplayFor(model => model[i].FechaActa);*@
                                    @FechaActaIngreso;
                                    @Html.TextArea(", luego de un intercambio de opiniones y consideraciones efectuadas por los consejeros, queda aprobada por unanimidad de los presentes.");
                                }



                                <br />

                                @if (Model[i].AsociadosEgreso.Count == 0)
                                {
                                    @HayEgresos;
                                    @*@Html.TextArea(" Informa que durante este mes no se han efectuado egresos de asociados");*@
                                }
                                else
                                {
                                    @NoHayEgresos;
                                    @*@Html.TextArea(" trae a aprobación el egreso de asociación efectuada por los señores: ");*@
                                }

                                @foreach (var item in Model[i].AsociadosEgreso)
                                {
                                    //if (item.ActaBaja == 0 || item.ActaBaja == null) {
                                    @Html.DisplayFor(modelItem => item.Apellido);
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.Nombre);
                                    <n></n>
                                    @DomicilioText;
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.Direccion);
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.Numero);
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.Localizacion.Nombre);
                                    <n></n>
                                    @*@Html.TextArea(" , número de ");*@
                                    @NumeroText;
                                    <n></n>
                                    @Html.DisplayFor(modelItem => item.DNI);
                                    <n></n>

                                    //}
                                }




                                @*@foreach (var item in Model[i].AsociadosEgreso)
                                    {
                                        //if (item.ActaBaja != 0 && item.ActaBaja != null)
                                        //{
                                            @Html.DisplayFor(modelItem => item.Apellido);
                                            <n></n>
                                            @Html.DisplayFor(modelItem => item.Nombre);
                                            <n></n>
                                        //}
                                    }
                                    domiciliado en la calle
                                    @foreach (var item in Model[i].AsociadosEgreso)
                                    {
                                        //if (item.ActaBaja != 0 && item.ActaBaja != null)
                                        //{
                                            @Html.DisplayFor(modelItem => item.Direccion);
                                            <n></n>
                                            @Html.DisplayFor(modelItem => item.Numero);
                                            <n></n>
                                            @Html.DisplayFor(modelItem => item.Localizacion.Nombre);
                                            <n></n>
                                        //}

                                    }
                                    , número de
                                    @foreach (var item in Model[i].AsociadosEgreso)
                                    {
                                        //if (item.ActaBaja != 0 && item.ActaBaja != null)
                                        //{
                                            @Html.DisplayFor(modelItem => item.DNI);
                                        //}
                                    }*@


                                @*@if (Model[i].OtrosPuntos != null && Model[i].OtrosPuntos.Count() > 0)
                                    {
                                        for (int i = 0; i <= Model[i].OtrosPuntos.Count(); i++)
                                        {
                                            <br />
                                            Html.DisplayFor(model => model[i].OtrosPuntos[i].detalle);
                                        }
                                    }*@

                                @if (Model[i].OtrosPuntos != null && Model[i].OtrosPuntos.Count() > 0)
                                {
                                    int j = Model[i].OtrosPuntos.Count() + 2;

                                    foreach (var item in Model[i].OtrosPuntos)
                                    {
                                        <br />
                                        @j
                                        @ParentesisText;
                                        @Html.DisplayFor(modelItem => item.Detalle);
                                        j++;
                                    }
                                }

                                <br />

                                No habiendo más asuntos que considerar,
                                se da por finalizada la reunión siendo las @Html.DisplayFor(model => model[i].FechaFinalizacionActa.Value.Hour) horas.


                            </div>
                            <div class="Cuerpo-SI" style="text-align:center; padding-top: 10px;">
                                <br />
                                .……………………….. ………………………….
                                <br />
                                Secretario       Presidente
                                <br />
                                @Html.DisplayFor(model => model[i].Secretario) @Html.DisplayFor(model => model[i].Presidente)
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <p style="page-break-after:always;"></p>

    //end for
}
